<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.mappers.maker">

	<select id="tempSelectRequir" resultType="TempMakerRequirDto">
		select * from
		tbl_temp_requir
		where temp_requir_num = #{temp_requir_num}
	</select>

	<insert id="tempInsertRequir">
		insert into tbl_temp_requir(temp_requir_num)
		values(#{temp_requir_num})
	</insert>

	<update id="tempUpdateRequir">
		update tbl_temp_requir set
		requir_q1 = #{requir_q1},
		requir_q2 = #{requir_q2},
		requir_q3 = #{requir_q3},
		requir_q4 =
		#{requir_q4}
		where temp_requir_num = #{temp_requir_num}
	</update>

	<select id="tempSelectBasic" resultType="TempMakerBasicDto">
		select * from
		tbl_temp_basic
		where temp_basic_num = #{temp_basic_num}

	</select>
	<insert id="tempInsertBasic">
		insert into tbl_temp_basic(temp_basic_num)
		values(#{temp_basic_num})
	</insert>

	<update id="tempUpdateBasic">
		update tbl_temp_basic set
		basic_projectName =
		#{basic_projectName},
		basic_amount = #{basic_amount},
		basic_representImg = #{basic_representImg},
		basic_category =
		#{basic_category},
		basic_endDate = #{basic_endDate},
		basic_searchTag =
		#{basic_searchTag}
		where temp_basic_num = #{temp_basic_num}
	</update>

	<insert id="tempInsertStory">
		insert into tbl_temp_story(temp_story_num)
		values(#{temp_story_num});
	</insert>

	<select id="tempSelectStory" resultType="TempMakerStoryDto">
		select * from tbl_temp_story
		where temp_story_num = #{temp_story_num}

	</select>
	<update id="tempUpdateStory">
		update tbl_temp_story set
		story_introimg = #{story_introImg},
		story_summary = #{story_summary},
		story_storyboard = #{story_storyBoard}
		where temp_story_num = #{temp_story_num}
	</update>
	
	<insert id="imgInput">
	insert into tbl_temp_imglist
	values(#{temp_imglist_num},seq_imglist_num.nextval,#{imglist_name})
	</insert>
	
	<select id="imgList" resultType="TempMakerBoardImgDto">
	select imglist_name from tbl_temp_imglist
	where temp_imglist_num = #{temp_imglist_num}
	</select>
	
	<select id="imgChk" resultType="int">
	select count(*) from tbl_temp_imglist
	where imglist_name = #{imglist_name}
	</select>
	
	<delete id="imgDel">
	delete tbl_temp_imglist
	where imglist_name = #{imglist_name}
	</delete>
	
	<select id='rewordList' resultType="TempMakerRewordDto">
	select * from tbl_temp_reword
	where temp_project_num = #{temp_project_num}
	</select>
	
	<select id="rewordCnt" resultType="int">
	select count(temp_reword_num) from tbl_temp_reword
	where temp_reword_num = #{temp_reword_num}
	</select>
	<insert id="rewordInput">
	insert into tbl_temp_reword
	values(#{temp_project_num},seq_temp_reword_num.nextval,#{temp_reword_price},#{temp_reword_name},#{temp_reword_desc},#{temp_reword_option},#{temp_reword_trans},#{temp_reword_trans_price},#{temp_reword_count},#{temp_reword_trans_month},#{temp_reword_trans_days})
	</insert>
	
	<select id="rewordOutput" resultType="TempMakerRewordDto">
	select * from tbl_temp_reword
	where temp_reword_num = #{temp_reword_num}
	</select>
	
	<update id="rewordUpdate">
	update tbl_temp_reword set
	temp_reword_price         = #{temp_reword_price},
	temp_reword_name          = #{temp_reword_name},
	temp_reword_desc          = #{temp_reword_desc},
	temp_reword_option        = #{temp_reword_option},
	temp_reword_trans         = #{temp_reword_trans},
	temp_reword_trans_price   = #{temp_reword_trans_price},
	temp_reword_count         = #{temp_reword_count},
	temp_reword_trans_month   = #{temp_reword_trans_month},
	temp_reword_trans_days    = #{temp_reword_trans_days}
	where temp_reword_num = #{temp_reword_num}
	</update>
	
	<delete id="rewordDelete">
	delete tbl_temp_reword where temp_reword_num = #{temp_reword_num}
	</delete>
	
	<update id="tempUpdateMakersInfo">
	update tbl_temp_makerinfo set
	temp_makerinfo_name      = #{temp_makerinfo_name},
	temp_makerinfo_image     = #{temp_makerinfo_image},
	temp_makerinfo_tel       = #{temp_makerinfo_tel},
	temp_makerinfo_email     = #{temp_makerinfo_email},
	temp_makerinfo_repr      = #{temp_makerinfo_repr},
	temp_makerinfo_reprname  = #{temp_makerinfo_reprname},
	temp_makerinfo_repremail = #{temp_makerinfo_repremail}
	where temp_makerinfo_num = #{temp_makerinfo_num}
	</update>
	
	<select id="tempSelectMakersInfo" resultType="TempMakerMakersDto">
	select * from tbl_temp_makerinfo
	where temp_makerinfo_num = #{temp_makerinfo_num}
	</select>


</mapper>