<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.mappers.memberMapper">

	<insert id="insertMember">
		insert into tbl_member
			(member_id, member_pw, member_name, member_nickname, member_email, member_address, member_call)
		values
			(#{member_id}, #{member_pw}, #{member_name}, #{member_nickname}, #{member_email}, #{member_address}, #{member_call})
	</insert>
	
	<select id="selectMemberId" resultType="int">
		select count(*) from tbl_member
		where member_id = #{member_id}
	</select>
	
	<select id="selectMemberPw" resultType="int">
		select count(*) from tbl_member
		where member_id = #{member_id} and member_pw = #{member_pw}
	</select>

	<select id="selectMemberInfo" resultType="MemberVo">
		select * from tbl_member
		where member_id = #{member_id}
	</select>
	
	<select id="selectMemberList" resultType="MemberVo">
		select * from tbl_member
	</select>
	
	<select id="registerCheckId" resultType="int">
	select count(*) from tbl_member
		where member_id = #{member_id}
	</select>
	
	<select id="registerCheckNick" resultType="int">
	select count(*) from tbl_member
	where member_nickname =#{member_nickname}
	</select>
	
	<select id="privacyUpdateName" resultType="int">
	select count(*) from tbl_member
		where member_name = #{member_name}
	</select>
	
	<select id="privacyUpdatePw" resultType="int">
	select count(*) from tbl_member
		where member_pw = #{member_pw}
	</select>
	<select id="privacyUpdateAddress" resultType="int">
	select count(*) from tbl_member
		where member_address = #{member_address}
	</select>
	
	<select id="privacyUpdateCall" resultType="int">
	select count(*) from tbl_member
		where member_call = #{member_call}
	</select>
	
	<select id="privacyUpdateEmail" resultType="int">
	select count(*) from tbl_member
		where member_email = #{member_email}
	</select>
	
	<update id="privacyUpdate">
		update tbl_member set
			member_pw =#{member_pw},
			member_name =#{member_name},
			member_nickname =#{member_nickname},
			member_email =#{member_email},
			member_address =#{member_address},
			member_call =#{member_call}
			where member_id =#{member_id}
	</update>
	<select id="selectMemberSearch" resultType="MemberVo">
		select * from tbl_member
		where member_id like '%' || #{search} || '%'
	</select>
	
	<update id="updateMemberRating">
		update tbl_member set
		member_rating = #{member_rating}
		where member_id = #{member_id}
	</update>	
	
	<!-- 프로필 등록 -->
	<insert id="insertMemberProfile">
	
		insert into tbl_profile
			(profile_id, profile_intro)
		values
			(#{profile_id}, #{profile_intro, jdbcType=VARCHAR})
	</insert>
	
	<!-- 프로필 업데이트 -->
	<update id="updateMemberProfile">
		update tbl_profile set
			profile_intro = #{profile_intro, jdbcType=VARCHAR},
			profile_pic = #{profile_pic}
		where profile_id = #{profile_id}
	</update>
	
	<!-- 프로필 보기 -->
	<select id="selectMemberProfile" resultType="MemberProfileVo">
		select * from tbl_profile
		where profile_id = #{member_id}
	</select>
	
	<!--  포인트 충전  -->
	<insert id="buy">
		insert into tbl_point_buy
			 (point_num, member_id, member_point)
		values (seq_point_num.nextval, #{member_id}, #{member_point})
	</insert>
	
		
	<!-- 포인트 구매 내역 -->
	<select id="pointById" resultType="PointVo">
		select * from tbl_point_buy 	
		where member_id = #{member_id} 
	</select>
	
		<!-- 포인트 구매 내역 -->
	<select id="pointById2" resultType="PointVo">
		select * from tbl_point_buy 
		LIMIT #{startList}, #{listSize}		
	</select>
	<!-- 전체 게시글 수 -->
	<select id="pointListCnt" resultType="int">
		select
			count(*) as listCnt
		from
			tbl_point_buy
	</select>

	
	<!-- 멤버 테이블에 포인트 업데이트 -->
	<update id="updatePoint">
		update tbl_member a 
		set member_point = 
		(select sum(member_point) 
		from tbl_point_buy b
		where b.member_id = a.member_id		
		)
	</update>
	
	<!-- 포인트 사용 -->
	<insert id="use">
		insert into tbl_payment
			 (payment_num, project_num, reword_num, payment_point)
		values (seq_payment_num.nextval, #{project_num}, #{reword_num}, #{payment_point})	
	</insert>
	
	<!-- 내가 등록한 프로젝트 -->
	<select id="registPost" resultType="MemberReadDto">
		select tbl_project_intro.*,tbl_project.user_id
		from tbl_project_intro inner join tbl_project
		on tbl_project_intro.project_num = tbl_project.project_num
		where user_id = #{user_id}
	</select>

	 
	
	
	
<!-- 	<select id="getTime" resultType="string"> -->
<!-- 		select sysdate from dual -->
<!-- 	</select> -->
	
<!-- 	<insert id="insertMember"> -->
<!-- 		insert into tbl_member  -->
<!-- 			(userid, userpw, username, email) -->
<!-- 		values  -->
<!-- 			(#{userid}, #{userpw}, #{username}, #{email}) -->
<!-- 	</insert> -->
	

	
<!-- 	<select id="readWithPw" resultType="MemberVo"> -->
<!-- 		select * from tbl_member -->
<!-- 		where userid = #{userid} and userpw = #{userpw} -->
<!-- 	</select> -->

<!-- 	<update id="updatePoint"> -->
<!-- 		update tbl_member set -->
<!--     		member_point = member_point + #{point} -->
<!-- 		where userid = #{userid}	 -->
<!-- 	</update> -->

</mapper>  
