<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.mappers.memberMapper">

	<insert id="insertMember">
		insert into tbl_member
			(member_id, member_pw, member_name, member_nickname, member_email, member_address, member_call)
		values
			(#{member_id}, #{member_pw}, #{member_name}, #{member_nickname}, #{member_email}, #{member_address}, #{member_call})
	</insert>
	
	<select id="selectMemberId" resultType="int">
		select count(*) from tbl_member
		where member_id = #{member_id}
	</select>
	
	<select id="selectMemberPw" resultType="int">
		select count(*) from tbl_member
		where member_id = #{member_id} and member_pw = #{member_pw}
	</select>

	<select id="selectMemberInfo" resultType="MemberVo">
		select * from tbl_member
		where member_id = #{member_id}
	</select>
	
	<select id="selectMemberList" resultType="MemberVo">
		select * from tbl_member
	</select>
	
	<select id="registerCheckId" resultType="int">
	select count(*) from tbl_member
		where member_id = #{member_id}
	</select>
	
	<select id="registerCheckNick" resultType="int">
	select count(*) from tbl_member
	where member_nickname =#{member_nickname}
	</select>
	
	<select id="privacyUpdateName" resultType="int">
	select count(*) from tbl_member
		where member_name = #{member_name}
	</select>
	
	<select id="privacyUpdatePw" resultType="int">
	select count(*) from tbl_member
		where member_pw = #{member_pw}
	</select>
	<select id="privacyUpdateAddress" resultType="int">
	select count(*) from tbl_member
		where member_address = #{member_address}
	</select>
	
	<select id="privacyUpdateCall" resultType="int">
	select count(*) from tbl_member
		where member_call = #{member_call}
	</select>
	
	<select id="privacyUpdateEmail" resultType="int">
	select count(*) from tbl_member
		where member_email = #{member_email}
	</select>
	
	<update id="privacyUpdate">
		update tbl_member set
			member_pw =#{member_pw},
			member_name =#{member_name},
			member_nickname =#{member_nickname},
			member_email =#{member_email},
			member_address =#{member_address},
			member_call =#{member_call}
			where member_id =#{member_id}
	</update>
	<select id="selectMemberSearch" resultType="MemberVo">
		select * from tbl_member
		where member_id like '%' || #{search} || '%'
	</select>
	
	<update id="updateMemberRating">
		update tbl_member set
		member_rating = #{member_rating}
		where member_id = #{member_id}
	</update>	
	
	<insert id="insertMemberProfile">
	
		insert into tbl_profile
			(profile_id, profile_intro)
		values
			(#{profile_id}, #{profile_intro, jdbcType=VARCHAR})
	</insert>
	
	<update id="updateMemberProfile">
		update tbl_profile set
			profile_intro = #{profile_intro, jdbcType=VARCHAR},
			profile_pic = #{profile_pic}
		where profile_id = #{profile_id}
	</update>
	
	<select id="selectMemberProfile" resultType="MemberProfileVo">
		select * from tbl_profile
		where profile_id = #{member_id}
	</select>
	
	<insert id="insertPoint">
		insert into tbl_point
			(pointcode, member_id, buy_date, charge_money)
		values
			(#{pointcode}, #{member_id}, #{buy_date}, #{charge_money})
	</insert>
	
		<update id="updatePoint">
		update tbl_point set
			pointcode = #{pointcode},
			buy_date = #{buy_date, jdbcType=VARCHAR},
			charge_money = #{charge_money}
		where member_id = #{member_id}
	</update>
	
		<select id="selectPoint" resultType="PointVo">
		select * from tbl_point
		where member_id = #{member_id}
	</select>
	
	
	
<!-- 	<select id="getTime" resultType="string"> -->
<!-- 		select sysdate from dual -->
<!-- 	</select> -->
	
<!-- 	<insert id="insertMember"> -->
<!-- 		insert into tbl_member  -->
<!-- 			(userid, userpw, username, email) -->
<!-- 		values  -->
<!-- 			(#{userid}, #{userpw}, #{username}, #{email}) -->
<!-- 	</insert> -->
	

	
<!-- 	<select id="readWithPw" resultType="MemberVo"> -->
<!-- 		select * from tbl_member -->
<!-- 		where userid = #{userid} and userpw = #{userpw} -->
<!-- 	</select> -->

<!-- 	<update id="updatePoint"> -->
<!-- 		update tbl_member set -->
<!--     		member_point = member_point + #{point} -->
<!-- 		where userid = #{userid}	 -->
<!-- 	</update> -->

</mapper>  
