<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.mappers.order">

<!-- 리워드 개별 조회 -->
<select id="rewordView" resultType="TempMakerRewordDto">
select temp_reword_num, temp_reword_price, temp_reword_name, temp_reword_option, temp_reword_count,
	temp_reword_trans_month, temp_reword_trans_days
	 from tbl_temp_reword 
	 	where temp_reword_num = #{temp_reword_num}
</select>


<!-- 리워드 담기 -->
<insert id="addCart">
 insert into tbl_reword_cart (reword_cart_num, member_id, reword_num, cartstock)
     values (tbl_reword_cart_seq.nextval, #{member_id}, #{reword_num}, #{cartstock})
</insert>

<!-- 리워드 담기 리스트  -->
<select id="rewordCartList" resultType="RewordCartListDto">
	select 
	b.member_id, a.temp_project_num, a.temp_reword_name, b.reword_cart_num, b.cartstock, a.temp_reword_price, a.temp_reword_trans_month, 
	a.temp_reword_trans_days
	from 
	tbl_temp_reword a, tbl_reword_cart b 
	where b.member_id = #{member_id}
	and a.temp_reword_num = b.reword_num
</select>

</mapper>