<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.mappers.pointMapper">

	<!-- 시퀀스 값 얻기 -->
	<select id="getNextVal" resultType="int">
		select seq_point_num.nextval
		from dual
	</select>
	
	<!-- 날짜 데이터 얻기 -->
	<select id="getTime" resultType="string">
		select sysdate from dual
	</select>

	<!--  포인트 충전 값 얻기 -->
	<insert id="buy">
		insert into tbl_point
			 (point_num, member_id, member_point, point_date, point_receipt)
		values (${point_num}, #{member_id}, #{member_point}, ${point_date}, #{point_receipt})
	</insert>



</mapper>